{{#partial "contenido" }}

    {{#if propietario}}
        <style>
            .card {
                background-color: #154f76; /* Tu color personalizado para el bloque "card mb-3" */
                color: white;
            }
        </style>
    {{/if}}
    <!-- Lista de Incidentes -->
    {{#if lleno}}
        <div class="container mt-5">
            <h2 class="mb-4 text-white text-center">Servicios Prestados</h2>

            <!-- Incidente 1 -->
            {{#each comunidades}}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Comunidad {{this.getNombre}}</h5>
                        <p class="card-text">{{this.getDescripcion}}</p>

                        <a href="/comunidades/{{this.getId}}/editar" class="btn btn-warning me-2">Modificar Comunidad</a>
                        <a href="/comunidades/eliminar/{{this.getId}}" class="btn btn-danger me-2">Eliminar Comunidad</a>

                    </div>
                </div>
            {{/each}}

            <!-- botones fuera de la lista-->
                <div class="d-flex justify-content-center mb-4">
                    <a href="/comunidades/crear"><button class="btn btn-success me-2">Agregar Comunidades</button></a>
                    <button class="btn btn-secondary me-2" onclick="volverAtras()">Volver</button>
                </div>

        </div>
    {{else}}

        <div class="container mt-5">
            <h3 class="mb-4 text-white text-center"> No Hay Comunidades </h3>
        </div>

            <div class="d-flex justify-content-center mb-4">
                <a href="/comunidades/crear"><button class="btn btn-success me-2">Agregar Comunidades</button></a>
                <button class="btn btn-secondary me-2" onclick="volverAtras()">Volver</button>
            </div>

    {{/if}}

    <script>
        function volverAtras() {
            window.history.back();
        }
    </script>
{{/partial}}
{{> templates/dashboard}}